<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bathroom Watch</title>

    <link rel="stylesheet" href="/css/watcher.css">
</head>

<body>
    <%- include('../navbar', { user: user }) %>
        <div class="main">

            <h1>Bathroom Watch</h1>
            <div class="grid-container">

                <div class="bathroom1 grid-item">
                    <h1 class="bathroom1">A Wing Bathroom</h1>
                    <table class="bathroom1">
                        <tr class="row1">
                            <td></td>
                            <td>Men</td>
                            <td>Women</td>
                        </tr>
                        <tr class="row2">
                            <td>People Going to Bathroom</td>
                            <td id="men1_going" class="bathroom1">0</td>
                            <td id="women1_going" class="bathroom1">0</td>
                        </tr>
                        <tr class="row3">
                            <td>People In Bathroom</td>
                            <td id="men1_in" class="bathroom1">0</td>
                            <td id="women1_in" class="bathroom1">0</td>
                        </tr>
                        <tr class="row4">
                            <td>People Leaving Bathroom</td>
                            <td id="men1_leave" class="bathroom1">0</td>
                            <td id="women1_leave" class="bathroom1">0</td>
                        </tr>
                    </table>
                </div>
                <div class="bathroom2 grid-item">
                    <h1 class="bathroom2">B Wing Bathroom</h1>
                    <table class="bathroom2">
                        <tr class="row1">
                            <td></td>
                            <td>Men</td>
                            <td>Women</td>
                        </tr>
                        <tr class="row2">
                            <td>People Going to Bathroom</td>
                            <td id="men2_going" class="bathroom2">0</td>
                            <td id="women2_going" class="bathroom2">0</td>
                        </tr>
                        <tr class="row3">
                            <td>People In Bathroom</td>
                            <td id="men2_in" class="bathroom2">0</td>
                            <td id="women2_in" class="bathroom2">0</td>
                        </tr>
                        <tr class="row4">
                            <td>People Leaving Bathroom</td>
                            <td id="men2_leave" class="bathroom2">0</td>
                            <td id="women2_leave" class="bathroom2">0</td>
                        </tr>
                    </table>
                </div>
                <div class="bathroom3 grid-item">
                    <h1 class="bathroom3">C Wing Bathroom</h1>
                    <table class="bathroom3">
                        <tr class="row1">
                            <td></td>
                            <td>Men</td>
                            <td>Women</td>
                        </tr>
                        <tr class="row2">
                            <td>People Going to Bathroom</td>
                            <td id="men3_going" class="bathroom3">0</td>
                            <td id="women3_going" class="bathroom3">0</td>
                        </tr>
                        <tr class="row3">
                            <td>People In Bathroom</td>
                            <td id="men3_in" class="bathroom3">0</td>
                            <td id="women3_in" class="bathroom3">0</td>
                        </tr>
                        <tr class="row4">
                            <td>People Leaving Bathroom</td>
                            <td id="men3_leave" class="bathroom3">0</td>
                            <td id="women3_leave" class="bathroom3">0</td>
                        </tr>
                    </table>
                </div>
                <div class="bathroom4 grid-item">
                    <h1 class="bathroom4">D Wing Bathroom</h1>
                    <table class="bathroom4">
                        <tr class="row1">
                            <td></td>
                            <td>Men</td>
                            <td>Women</td>
                        </tr>
                        <tr class="row2">
                            <td>People Going to Bathroom</td>
                            <td id="men4_going" class="bathroom4">0</td>
                            <td id="women4_going" class="bathroom4">0</td>
                        </tr>
                        <tr class="row3">
                            <td>People In Bathroom</td>
                            <td id="men4_in" class="bathroom4">0</td>
                            <td id="women4_in" class="bathroom4">0</td>
                        </tr>
                        <tr class="row4">
                            <td>People Leaving Bathroom</td>
                            <td id="men4_leave" class="bathroom4">0</td>
                            <td id="women4_leave" class="bathroom4">0</td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
</body>

</html>