<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bathroom Watch</title>
    <style>
        .size2 {
            width: 20%;
            float: left;
            text-align: center;
            font-size: 40px;

        }
        .size1 {
        float: left;
        text-align: center;
        font-size: 40px;
        height: fit-content;
        width: 40%;
        }

        /* Clear floats after the columns */
        #title:after {
        content: "";
        display: table;
        clear: both;
        }
        .boys {
            background-color: rgb(200, 227, 244);
        }
        .girls {
            background-color: rgb(252, 213, 232);
        }
    </style>
</head>

<body>
    <%- include('../navbar', { user: user }) %>
        <div class="main">

            <h1>Bathroom Watch</h1>
            <div id="title">
                <div id="title">
                    <div class="boys  size1">Boy</div>
                    <div class="size2" style="height: 10px;"></div>
                    <div class="girls  size1">Girls</div>
                </div>
                <div class="name">
                    <div class="boys size1"></div>
                    <div class="size2">Name</div>
                    <div class="girls size1">Student Two</div>
                </div>
                <div class="time">
                    <div class="boys size1">12:45 pm</div>
                    <div class="size2">Time</div>
                    <div class="girls size1">11:48 pm</div>
                </div>
                
            </div>
        </div>
</body>

</html>
