<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./public/css/main.css">
    <title>Register</title>
</head>

<body>
    <h2>Register</h2>
    <form action="/register" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required />
        <br />
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required />
        <br />
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
        <br />
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required />
        <br />
        <label for="classroom">Classroom:</label>
        <input type="text" id="classroom" name="classroom" required />
        <br />
        <label for="sex_type">Check if Female: </label>
        <input type="checkbox" name="sex_type" id="sex_type">
        <br />
        <label for="Teacher of Student">Check For Teacher</label>
        <input type="checkbox" name="teacherStudent" id="teacherStudent">
        <br />
        <button type="submit">Register</button>
    </form>
    <p>Note - If check teacher you will be verifity if your are a  teacher</p>
</body>

</html>
