<%- include('./login') %>

<% if (tryAgain == 1) { %>
    <div>
        <p style="color: red;">Invalid Password or Usernanme</p>
    </div>
    <% } %>
<% if (tryAgain == 2) { %>
    <div>
        <p style="color: red;">Checking if you are teacher or not</p>
    </div>
    <% } %>